[2019-09-30 11:13] ismisepaul commented on #502
Yeah that might be the case but its not clear how that is happening?

```secshep_mysql | 2019-09-26T19:41:41.217305Z 87 [Note] Access denied for user 'firstBloodyMessL'@'172.18.0.4' (using password: YES)```
You're still seeing the issues because the hostname / IP address is not allowed because of the explicit grant in the ```core``` db schema

You are correct with your solution by changing the scr

[2019-09-30 18:47] bchurchill commented on #502
I can answer that now: [the docs](https://docs.docker.com/compose/networking/) say "Your app’s network is given a name based on the “project name”, which is based on the name of the directory it lives in. You can override the project name with either the --project-name flag or the COMPOSE_PROJECT_NAME environment variable."  Because I unzipped the tarball from the website, the default folder name

[2019-10-01 10:25] ismisepaul commented on #502
That's some really nice work! Thanks.

I agree with your solution if you want you could create a branch called ```dev#502``` make your changes to the docker file and create a merge request.

We can review it and look to merge it into ```dev``` 😄

[2019-10-01 10:28] ismisepaul commented on #498
If you are going to work on this could you branch off ```dev``` and then create your own branch called ```dev#498```. Once you're happy with your changes could you create a merge request from your branch.

Thanks

[2019-10-07 15:57] ismisepaul commented on #504
**Deploying WAR**

1. Build the war
2. Push to heroku ```heroku deploy:war --war owaspSecurityShepherd.war -a secsheptest```

But it doesn't seem to generate the auth file;
[code]

Running heroku bash that folder structure doesn't exists ```heroku run bash -a secsheptest```;
[code]

Launching the web app;
![image](https://user-images.githubusercontent.com/912403/66326347-b4059200-e920-11e9-82f3-8b

[2019-10-13 09:45] etnoy opened #508 "Data validation challenge should stop using rage faces"
We're using Shepherd at our uni course in infosec. Buying troll and rage faces is simply dated and should be switched out. Memes have a short expiry date 😉

Last year I made a simple change to our in house fork of Shepherd where the store sells fruit instead. I create this issue so I can track my backport progress. In the meantime we need to find images of fruit with a free license.

[2019-10-13 12:42] etnoy opened #509 "Database should use utf-8 instead of latin1"
**Describe the bug**
The database uses latin1 as character encoding. This should be utf-8 instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a username with non-latin characters like "Räksmörgås"
2. Go to scoreboard
3. Get horrified over bad character encoding

**Expected behavior**
Shepherd should handle non-latin characters in all relevant places

**Additional context**
I patc

[2019-10-15 10:56] #502 closed, assigned to nobody

[2019-10-15 21:55] etnoy opened #510 "Don't swallow exceptions"
There are over 300 instances of try, catch Exception in the Shepherd codebases that just ignores the exception and continues like nothing happens. This causes a lot of issues, for instance if there is a database problem and the only way users notice is that their logins fail with a generic error message.

We should make the code fail whenever an unrecoverable error happens. This way, we'll know so

[2019-10-16 12:56] #498 closed, assigned to smohtadi

[2019-10-21 15:24] #390 closed

[2019-10-30 13:27] etnoy opened #513 "[Security] Password storage is insecure"
**Describe the bug**
Passwords are hashed but not salted.

**Expected behavior**
Good password hash+salt algorithm.

**Additional context**
Add any other context about the problem here.

[2019-10-31 12:47] etnoy commented on #361
It is possible that #514 fixes this as it doesn't use SHA2 from mysql

[2019-10-31 12:50] etnoy commented on #330
I have begun coding SAML authentication. Not LDAP but pretty close

[2019-11-01 15:59] ismisepaul opened #516 "Adjust how database files are generated for docker databases"
Currently the Tomcat docker images creates a database conf file like this;

https://github.com/OWASP/SecurityShepherd/blob/b5a8038da6898c4bacfc62c7c0bc0b1b0504c32f/Dockerfile#L31

https://github.com/OWASP/SecurityShepherd/blob/b5a8038da6898c4bacfc62c7c0bc0b1b0504c32f/Dockerfile#L32

However, changes to the database options are usually reflected in the test properties file. Instead of creating this

[2019-11-04 16:13] markdenihan opened #517 "Merge i18n Files together where possible"
As a Translator
I want to update as few files as possible
So that it's easy to add a language to Shepherd

[2019-11-06 12:52] #470 closed, assigned to nobody

[2019-11-06 12:53] #471 closed, assigned to nobody

[2019-11-14 16:38] #513 closed, assigned to nobody

[2019-11-15 21:32] etnoy commented on #510
We have come a long way with #511, but a lot of work remains

[2019-11-15 21:33] etnoy commented on #509
Fixed in #515

[2019-11-15 21:33] #509 closed, assigned to nobody

[2019-11-15 21:33] etnoy commented on #500
Do you know who has access to the owasp github account, @markdenihan ?

[2019-11-17 20:45] etnoy opened #521 "Setup guide should start if core database can't be found"
**Describe the bug**
If the database properties file exists but the core database doesn't, we currently get a server error. Instead, it should redirect to the setup page with cached db settings.

This is especially useful for puppetized deployments where the database properties file is created, but the database isn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove database properties

[2019-11-19 16:51] ismisepaul commented on #500
@etnoy I'm going to assume these people https://github.com/orgs/OWASP/people?utf8=%E2%9C%93&query=+role%3Aowner

[2019-11-20 23:38] etnoy opened #525 "[Security] Upgrade to new jQuery"
We are currently using jQuery 1.7.1. This is an old version that has at least three CVE:s and could potentially be vulnerable.

Ideally we'll switch to jQuery version three, but we might get some breakage.

[2019-11-20 23:40] etnoy opened #526 "[BUG] Mongo setting in setup wizard doesn't affect mongo challenge availability"
**Describe the bug**
The NoSQL injection challenge is still enabled even if the admin doesn't enable the mongo db in the setup wizard.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear the database
2. Go to setup wizard
3. Fill everything out, but don't check the mongo checkbox
4. The NoSQL challenge is enabled
5. The challenge can't be completed because the database isn't available.

**

[2019-11-21 00:04] etnoy opened #527 "XSS3 should not filter five times"
The broken non-recursive filter in XSS3 repeats the filter five times before stopping. That's not good because nobody in their right mind would go past three-four attempts before giving up on that particular route. We should lower this to something like two or three.

[2019-11-21 13:00] etnoy opened #529 "SessionManagement4 should be somewhat easier"
There is really no reason why session management 4 requires the user to try 21 different numbers before succeeding. A common feedback we get from our students is that we should lower this number. Having a high number just gives frustration and doesn't teach anything, people instead give up.

[2019-11-26 12:53] etnoy opened #532 "Improve bad submission handling"
As of now, Shepherd removes points when users do bad submissions.

We've had issues where students use ZAP and inadvertently use an attack tool such as a directory traversal scanner. This sends several hundred requests to the result key submitter and then removes all their points.

The core issue is that the countermeasures are ineffective. Just removing points and writing a warning in the returne

[2019-11-26 16:10] ismisepaul opened #533 "Create a page for the OWASP Global Projects Page"
The projects page - https://www2.owasp.org/projects

Where to make changes - https://github.com/OWASP/www-project-security-shepherd/blob/master/index.md

[2019-12-15 12:23] FrancoisCapon opened #535 "How to set up the database connexions pool?"
I want to deploy Shepherd on a small VPS for my students:
-  Debian 10, Tomcat 8.5.50, MariaDB 10.1, Sherpherd 3.1

Shepherd create a lot of database connexions and exceeds the standard limit (151) even for only 2 users connected.

- First solution, raise the `max_connexions` in MariaDB : **more ressource!**

- Second solution, close connexions after 10 seconds (`wait_timeout`), Tomcat open connex

[2019-12-20 21:35] etnoy opened #536 "[BUG] Automated attack tools starve all db connections"
**Describe the bug**
In our teaching environment, we use Shepherd as a practial examination in the infosec course. In order to pass, students must learn to use an attack proxy, and we recommend them to use ZAP. However, it is too easy for students unfamiliar with ZAP to launch spider/directory traversal/fuzzer attacks without them knowing. No big deal right? Wrong. These automated tools very quick

[2019-12-20 21:36] etnoy commented on #535
Shepherd at the moment does not do any connection pooling which is bad, see #536

I have a very similar issue because of this, also when my students play around in ZAP.

[2019-12-20 22:18] etnoy opened #537 "Don't let travis-ci deploy docker image when on a fork"
The travis configuration always deploys to dockerhub when on the main dev branch, even if we're on a github fork. As that does not work, the travis check will always fail unless we're pushing to the main OWASP fork (which I can't do!)

Instead, we should only deploy on the main fork.

[2019-12-21 12:06] #537 closed, assigned to nobody

[2019-12-21 19:39] FrancoisCapon commented on #536
Thanks for your reply,

I took time to read the code and to observe the MariaDB connections.

Because there is a lot of open connections, I thought there was a pool. But you are right, there is no pool.

Some connections are not closed in the core:
[code]
**and never in the getSqlInjectionResult :zzz:**
[code]

For example, each submit of the first lesson open a new connection (processlist at the

[2019-12-21 23:00] etnoy commented on #536
Great comment. Yes, I've also considered changing wait_connections, but it never happened during the actual CTF so now it's too late.

Could you also take a look at my own fork? There is a big pull request to merge https://github.com/etnoy/SecurityShepherd with the OWASP version, and I have done a lot of work on the platform and database code.

[2019-12-27 11:55] ismisepaul commented on #504
Added env variable to get the producing of auth and database.properties file working, but still not working. Idea from here - https://github.com/heroku/webapp-runner/issues/57 Also added addons for mysql and mongodb. Commit - https://github.com/OWASP/SecurityShepherd/commit/831d4f5eb68f9a1646d9a1fdbaeff7d760767dbe

Procfile uses the $WAR_DIR to set the dir to the expanded dir https://github.com/OW

[2020-01-01 18:31] jules2689 commented on #504
Hey, so I took a look at this and was able to get as far as you using your code. I suspect the issue here is that each dyno and even the `run bash` dyno that you get is entirely different. They aren't identical.

When Heroku starts a tomcat server, it sets up in that folder. So in the dyno you're running on, this folder exists. I suspect `8305` in `/app/target/tomcat.8305/conf/SecurityShepherd.aut

[2020-01-01 19:01] jules2689 commented on #504
So I hand modified the constant to be `/app/target`, and set the web startup to be a `run.sh` file that creates the `conf` folder (hacky to test it out).

This leaves us with a `18:49:36,044 [http-nio-49330-exec-8] (Database.java:165) - Unable to create database connection: com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure`

<details>

[code]

</details>

With th

[2020-01-01 19:04] jules2689 commented on #504
Hacky Diff to get to that state:
[code]

[2020-01-01 19:21] jules2689 commented on #504
I found a number of getters for MySQL that open connections but don't seem to close them in `Getter.java`, I tried to just add those in, but that didn't seem to help. There's something leaking connections somewhere because I end up with a bunch of sleeping connections in the ClearDB console:

![image](https://user-images.githubusercontent.com/3074765/71645154-eade1080-2ca1-11ea-8672-33de796ac485.p

[2020-01-06 14:22] ismisepaul commented on #504
I was able to get this partially working where I;

1. Created the dir structure (this allows us to keep the catalina.base constant) https://github.com/OWASP/SecurityShepherd/blob/a9b55c19304009fc66e4af0b657bca05e3c13377/src/main/java/servlets/Setup.java#L360
2. If a Heroku env is detected then it creates the DB props

The problem is you don't get to choose the name of your DB. Security Shepherd us

[2020-01-06 14:48] jules2689 commented on #504
That commit looks like it'll do what my hacky `run.sh` did! Nice 😄
This line seems to have changed from what I checked out as well (https://github.com/OWASP/SecurityShepherd/blob/a9b55c19304009fc66e4af0b657bca05e3c13377/src/main/java/servlets/Setup.java#L402). It used to say `=core`... so that should fix the other issue I encountered. The port is gone now too 😃

At this point, it feels less like t

[2020-01-08 09:39] uzakov opened #541 "[BUG] Cross Site Scripting One exercise has a bug in XSS filtering"
**Describe the bug**

"Cross Site Scripting One" exercise has a bug, where XSS happens, yet no key is given to the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Cross Site Scripting One" exercise
2. Submit following payload ` javascript:/*--></title></style></textarea></script></xmp><svg/onload='+/"/+/onmouseover=1/+/[*/[]/+alert(1)//'>` Credits for payload: https://twitter.co

[2020-01-12 12:31] madanalogy commented on #325
Hello, I would like to pick this up if no one else is working on it. I will start by looking at potential implementations, if anyone has a preferred design approach, do let me know, thanks!

[2020-01-15 17:02] #504 closed, assigned to ismisepaul

[2020-01-16 12:34] JStyle21 opened #543 "Is Tomcat 9 supported?"
Hi,

Is tomcat9 supported?  i don't see SecurityShepherd.auth or an error for it
but v9 does have a link to /etc/tomcat9/conf in $CATALINA_HOME

[2020-01-17 09:22] markdenihan commented on #533
https://github.com/OWASP/www-project-security-shepherd/pull/1

[2020-01-17 09:22] #533 closed, assigned to markdenihan

[2020-01-17 14:45] ismisepaul commented on #533
It looks like the page failed to build for some reason...

https://github.com/OWASP/www-project-security-shepherd/runs/394875017

[2020-01-17 14:46] ismisepaul commented on #543
We're currently only working with 8.5.41 with no plans of supporting 9 as of yet.

https://github.com/OWASP/SecurityShepherd/blob/c555cd713d6cd28a986d32566074620f4bdf647f/.env#L3

[2020-01-17 15:00] JStyle21 commented on #543
Thanks

[2020-01-17 15:00] #543 closed, assigned to nobody

[2020-01-31 12:10] LukeParsnips opened #545 "[BUG] Cross Site Scripting Two bug doesn't recognise successful XSS"
**Describe the bug**
XSS Challenge two requires you to perform some XSS where the input filters out most onClick/onError calls so tried using the following input to see if the obscure ones are filtered:

`<div onpointerover="alert('DANK')">MOVE HERE</div>`

This produces a div which when I move over will produce the alert message but not award me completion for the challenge.

**To Reproduce**
Ste

[2020-02-11 14:47] ismisepaul opened #547 "XXE Challenge 1"
This should be harder than lesson created in #334

[2020-02-11 14:48] ismisepaul opened #548 "XXE Challenge 2"
This should be more difficult than the challenge created for #547

[2020-02-11 22:04] LoganAyala opened #549 "Unintended Data Leakage 1 [QUESTION]"
Hi!, im on this challenge and i get all the logs with adb commands, but the .png images are only screenshots, am i missing something? Thanks :D

[2020-02-12 09:05] #549 closed, assigned to nobody

[2020-02-12 09:05] LoganAyala commented on #549
log.PNG missing on docker, i finished pullng from VM

[2020-02-24 16:02] ismisepaul opened #550 "[BUG] Application cannot run on Ubuntu 16.04 LTS"
**Describe the bug**
When you log into the application the following error is thrown;
```/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.25' not found```

**To Reproduce**
Steps to reproduce the behavior:
1. Build the application on Ubuntu 16.04 LTS
2. Log into the application
3. Observe error in logs in relation to Argon2

**Expected behavior**
Application should run

**Desktop (please complete

[2020-02-29 15:37] iNoSec opened #551 "[BUG] only loopback ip on VM v3.1"
Hi,
Before thanks for the hard work!!!

My problem is i dont have any ip except the loopback (hopefully xD), i test on VMware Workstation uptodate and with all network settings (host only,NAT,bridge) others VM works perfectly.

Any ideas?
Thanks

[2020-02-29 21:37] iNoSec opened #552 "[BUG] Insecure Direct Object Reference Bank Challenge cant register an account"
Hi,

I use the docker and that's the SecuritySheperd version 3.2
![image](https://user-images.githubusercontent.com/27919673/75615473-66dec280-5b44-11ea-99cf-484ad428c2b6.png)

im on "Insecure Direct Object Reference Bank Challenge" challenge but i cant register any account, i receive this message :

![image](https://user-images.githubusercontent.com/27919673/75615448-136c7480-5b44-11ea-97b4-268cc

[2020-03-01 13:36] iNoSec commented on #551
No problem with version 3.0 and docker version (but an other problem in a challenge)
![image](https://user-images.githubusercontent.com/27919673/75626694-f4b0c100-5bc9-11ea-9120-bb58ccd924b1.png)
Thanks

[2020-03-02 14:50] ismisepaul opened #553 "[BUG] Ghostcat CVE-2020-1938"
**Describe the bug**

https://nvd.nist.gov/vuln/detail/CVE-2020-1938
https://www.chaitin.cn/en/ghostcat

**Recommend**
Upgrade to 8.5.51

[2020-03-02 16:33] markdenihan commented on #545
Although this is a duplicate of the replacing the XSS Detector (#297), we should update the current solution to support javascript trigger attributes like this

[2020-03-02 16:36] markdenihan commented on #552
@iNoSec The latest shepherd release is 3.1. Are you using a fork?

[2020-03-02 16:39] markdenihan commented on #551
@iNoSec Can you update the ticket to include the information requested in the bug template?

https://github.com/OWASP/SecurityShepherd/blob/dev/.github/ISSUE_TEMPLATE/bug_report.md

[2020-03-02 16:40] markdenihan commented on #541
Duplicate of #297

[2020-03-02 16:40] #541 closed, assigned to nobody

[2020-03-02 17:13] iNoSec commented on #552
Nope i use this repo and yeah i use the 3.1 version. if you need more info like some debug log, let me know

[2020-03-02 17:22] iNoSec commented on #551
Here it is and sorry ;)

The host i use (i use arch btw xD):
![image](https://user-images.githubusercontent.com/27919673/75700296-22713500-5cb2-11ea-8fc9-7fb6f281b332.png)

and i use vmware workstation last edition:
![image](https://user-images.githubusercontent.com/27919673/75700238-0c637480-5cb2-11ea-8b25-7383f40d1b07.png)

Browser: not needed for this bug but chrome/firefox

docker-compose vers

[2020-03-06 15:25] ismisepaul opened #554 "Docker build passes even though landing page does not load"
There is currently no test to see if the webpage loads when the build for docker is complete.

Below an an issue with the sed command not working where its supposed to replace ```TLS_KEYSTORE_FILE``` in ```/usr/local/tomcat/conf/``` with the actual value but it fails. The file is not referenced when the application starts up and cannot produce the landing page.

There needs to be a test developed

[2020-03-10 08:50] #550 closed, assigned to nobody

[2020-03-10 08:50] #553 closed, assigned to nobody

[2020-04-30 08:31] Andrew-Stubbs opened #557 "[BUG] Cannot call stored procedure `directObjectBank`.`createAccount` to complete Insecure Direct Object Reference Bank Challenge"
When attempting **Insecure Direct Object Reference Bank Challenge**, regardless of the input the request fails and the user sees **An Error Occurred! You must be getting funky! Could not create account!**

Looking through the tomcat logs,  the following error can be seen:

Logging into mysql directly and calling the stored procedure results in the same:

ERROR 1048 (23000): Column 'account_passwor

[2020-05-17 08:07] ghost commented on #551
Same issue here. And the interface is down, after turning the interface UP using "ifconfig ens33 up" it shows inet6(ipv6) address but no inet(ipv4) address. Tried with other methods like "sysctl", but no use.
After every restart again the interface goes down.
![securityShepherd](https://user-images.githubusercontent.com/61237294/82139112-4e2ca180-9843-11ea-9b31-22168a626e4f.PNG)
![securityShepherd

[2020-05-17 08:33] ghost commented on #551
After working on this and troubleshooting for hours, i found that there may be an issue with "dhclient".
So, i searched online and came with a working solution.
The following commands will release and renew the ip address

# sudo dhclient -r your_interface
# sudo dhclient your_interface

I'm saying it worked for me. Hope the same works for you @iNoSec
![securityShepherd_solution](https://user-imag

[2020-06-16 02:48] kingthorin opened #558 "Repo details need update"
This should leverage the new website (owasp.org):
![image](https://user-images.githubusercontent.com/7570458/84726171-45221380-af5a-11ea-9284-5417550441f2.png)

https://owasp.org/www-project-security-shepherd/

[2020-06-16 09:17] markdenihan commented on #558
Looks like I don't have access to the repo settings anymore. I'll need to find out who does

[2020-06-16 09:21] markdenihan commented on #558
@kellysantalucia @hblankenship @mikemccamon @dawnaitken @Sibah1 @latf6711 @emilyberman @astock23 Would any of you be able to grant myself and @SeanDuggan admin access to the Security Shepherd repo?

[2020-06-16 12:06] hblankenship commented on #558
Please let me know your github usernames.

Thanks,

Harold L. Blankenship

OWASP Foundation

Director of Technology and Projects

On Tue, Jun 16, 2020 at 4:21 AM Mark Denihan <notifications@github.com>
wrote:

[2020-06-16 13:11] markdenihan commented on #558
@hblankenship They are "markdenihan" and "SeanDuggan"

[2020-06-16 13:20] hblankenship commented on #558
Sorry.  I thought you were referring to the www- repository.  The permissions were not changed that I am aware (team permissions may have been though).  You are both now admin here.

[2020-06-16 13:23] markdenihan commented on #558
Thanks @hblankenship

Repository Website URL updated to new site. Thanks for raising this @kingthorin

[2020-06-16 13:23] #558 closed, assigned to nobody

[2020-09-09 07:10] etnoy commented on #557
Thanks for the bug report. I seem to have caused this issue and I'l have to fix it.

[2020-09-09 07:11] etnoy commented on #552
Same issue as #557

[2020-09-12 21:55] etnoy commented on #557
This will be fixed as soon as #531 is merged

[2020-09-12 21:56] etnoy commented on #552
Will be fixed by #531

[2020-09-12 22:04] iNoSec commented on #552
Ok thanks, when merged i will try it and i'll be back if it is good or not :p because there isnt any duplicate name in my problem, even long random username trigger the error. Anyway will try asap

[2020-09-12 22:05] etnoy commented on #552
For a quick fix, change the stored proc just like #557 says

[2020-09-14 15:18] markdenihan commented on #552
#531 Is merged, @ismisepaul can you verify this is resolved with the latest dev branch?

[2020-09-14 15:18] markdenihan commented on #557
#531 Is merged, @ismisepaul can you verify this is resolved with the latest dev branch?

[2020-09-15 07:51] iNoSec2 commented on #552
Now i cant even login...
![image](https://user-images.githubusercontent.com/51358868/93181707-0fe3b800-f739-11ea-8f02-85367e614f83.png)

and in the mvn command, we have warning:
![image](https://user-images.githubusercontent.com/51358868/93181823-41f51a00-f739-11ea-8072-0f0ffb8ce6af.png)

[2020-09-15 19:49] etnoy commented on #552
The Maven warning has been there for a long time. Could you post logs? I think that there have been changes to the stored procedures on the sql server which could cause issues.

[2020-09-19 22:11] ismisepaul opened #561 "[BUG] Docker environment shows Server Error when loading application"
**Describe the bug**
After commit 147d0e3 a new database parameter was introduced
https://github.com/OWASP/SecurityShepherd/blob/147d0e3937f0569371de503b3d5791a20eddc4fa/src/main/java/dbProcs/Database.java#L157
```databaseOptions=useUnicode=true&character_set_server=utf8mb4```

However this was never added to docker so when running the user is presented with a server error;
![Screenshot from 2020-

[2020-09-20 19:00] etnoy commented on #561
Thanks for catching this. I don't use Docker so I never tested this, and there are no tests anywhere to catch anything in Shepherd.

[2020-10-01 10:35] Sybrid203 commented on #561
Error still persists.

[2020-10-01 11:27] etnoy commented on #561
@ismisepaul, do you have an opportunity to do a pull request on your suggested changes?

[2020-10-02 09:28] thomaspreece commented on #561
I've made the changes @ismisepaul suggested above in a PR. Tested and it works ok for me.

[2020-10-02 09:41] etnoy commented on #561
Thanks. Let's get @markdenihan in here to approve the PR.

[2020-10-02 16:01] alfasin commented on #561
+1
Verified the same issue on both MacOS and Ubuntu

<removed previous text bc I forgot to run `docker-compose build` before running.... >

[2020-10-07 17:38] LargeMonitorMount commented on #561
Thanks!
+1

[2020-10-08 15:07] #561 closed, assigned to ismisepaul

[2020-10-08 15:08] ismisepaul commented on #561
Closed by https://github.com/OWASP/SecurityShepherd/pull/563

[2020-10-09 16:47] #547 closed, assigned to ismisepaul

[2020-10-12 10:48] alfasin commented on #561
Thanks @thomaspreece and @ismisepaul - much appreciated!

[2020-11-13 17:31] 40R40L opened #564 "[Question] is it possible to implement SAML authentication mechanism ?"
Hello,

This is not a bug and could be removed if it's not in the right place.

I was wondering about the possibility to implement SAML authentication on SecurityShepherd ?
do you have any ressources or a tutorial to do a such implementation ?

Thanks

[2020-11-18 15:40] ismisepaul opened #565 "Improvements for Docker"
Building images
Persistence through volumes

[2020-11-23 17:27] BastG57 opened #567 "Deprecated File? Mobile Insecure Data Storage"
Hello,

Im currently at the Mobile Insecure Data Storage challenge of OWASP.
Using the android VM 3.2.3, I went to the following location :
![Annotation 2020-11-23 175919](https://user-images.githubusercontent.com/55579116/99994345-294c5480-2db9-11eb-96b7-68ea8931d089.png)
Opened the Members file with "strinigs Members" command, and get this result :
![Annotation 2020-11-23 180001](https://user-im

[2020-11-23 17:40] SeanDuggan commented on #567
Hello @BastG57 the information you're reading with the strings command is correct it's just not split up with spaces or any other kind of seperator so the characters that come after the username : "Admin" are the characters of the password you're looking for.

[2020-11-23 17:40] #567 closed, assigned to SeanDuggan

[2020-11-25 06:51] BastG57 commented on #567
Yes I finally figured out yesterday, but I thought my post was taken out by
admin so I didnt answer, sorry

Thanks

Le lun. 23 nov. 2020 à 18:40, Seán <notifications@github.com> a écrit :

[2021-02-01 11:29] markdenihan opened #571 "[BUG] New Password Logged in Admin Password Reset Flow"
*src/main/java/servlets/admin/userManagement/ChangeUserPassword.java*

```log.debug("newPass = " + newPassword);```

[2021-02-01 11:46] markdenihan opened #572 "Create Contributing Guide and set Format Standard"

[2021-02-01 14:35] markdenihan opened #574 "Migrate to GHA from TravisCI"

[2021-02-01 15:36] #565 closed, assigned to ismisepaul

[2021-02-01 15:42] markdenihan opened #575 "Create OWASP API Top Ten Level Tickets"
Create a series of tickets for API specific challenges

[2021-02-01 15:44] markdenihan opened #576 "Tagging challenges with ASVS, CWE, etc"
Some ability to filter/search by CWE or ASVS category

[2021-02-01 15:49] #329 closed

[2021-03-26 22:56] GohEeEn commented on #193
Hi @SeanDuggan, it seems like the youtube link above refering to an unavailable video now.

[2021-04-07 17:38] jmanico opened #578 "Change Admin Password"
There does not seem to be a way to change the admin's password in v3.2 after initial setup. Am I missing something?

[2021-04-07 19:02] markdenihan commented on #578
Have some spare cycles for shepherd coming up soon @jmanico, I'll check it out soon

[2021-04-07 19:05] jmanico commented on #578
Thank you good sir! If you need a donation for the project or project infrastructure hit me up.

[2021-08-22 10:35] anquanbiji opened #580 "solutionSubmit URL can not show Chinese in Respone body"
Hi
I have set the lange = zh,  but in respone body of solutionSubmit URL  the Chinese is instead of  ??? .

Sometime in respone body of refreshMenu URL  the Chinese is instead of  ??? .

is it bug?

Thanks!

[2021-08-28 02:35] anquanbiji commented on #580
there is no encoding of response in src/main/java/servlets/module/RefreshMenu.java and  src/main/java/servlets/module/SolutionSubmit.java file.

After adding the code (response.setContentType("text/html;charset=utf-8");)  before (PrintWriter out = response.getWriter(); ), it can work well.

Hope this is useful for others.

the detail information:
0. install the Shepherd with vm. https://github.com

[2021-08-28 02:35] #580 closed, assigned to nobody

[2021-08-29 15:56] venkatdvs111 commented on #532
As of now, Shepherd removes points when users do bad submissions.

We've had issues where students use ZAP and inadvertently use an attack tool such as a directory traversal scanner. This sends several hundred requests to the result key submitter and then removes all their points.

The core issue is that the countermeasures are ineffective. Just removing points and writing a warning in the returne

[2021-08-29 15:57] venkatdvs111 opened #582 "As of now, Shepherd removes points when users do bad submissions."
As of now, Shepherd removes points when users do bad submissions.

We've had issues where students use ZAP and inadvertently use an attack tool such as a directory traversal scanner. This sends several hundred requests to the result key submitter and then removes all their points.

The core issue is that the countermeasures are ineffective. Just removing points and writing a warning in the returne

[2021-08-29 15:57] #582 closed, assigned to nobody

[2021-08-30 13:08] anquanbiji commented on #502
Hi
I have the same problem when I install it with source code.

I found that changing the current path to 'securityshepherd' can resolve the problem.

Hope it useful for others.

[2021-09-16 03:00] anquanbiji opened #585 "The user of Admin can't do the “Cross Site Request Forgery Challenge One”"
Hope to remeber this thing.

Because Admin has not classid attribute in core.users, that Admin can't see the other's message and the others can't see the Admin's message. In the other words, the Admin can't be attacked by the others and the others can't be attacked by Admin.

At last, the Admin can't do the  “Cross Site Request Forgery Challenge One”

[2021-09-16 10:29] markdenihan commented on #585
So it can still be completed, if another authenticated user submits the request for the admin. However they cannot be included in a class, so they won't end up in a table that is shown to user users. I believe that has changed in the big PR #531, so this is likely a solved in the next release. Will check that when we get some cycles to spend on Shepherd

[2021-09-16 13:13] anquanbiji commented on #585
Thanks

My version is V3.1.
Hope it will be changed in the next version.

[2021-09-16 13:13] #585 closed, assigned to nobody

[2021-09-16 13:25] anquanbiji opened #586 "how to get the field of "idusers" of the topic "SQL Injection 4""
My version of shepherd is V3.1.

I can understand the answer of    or 1=1 AND idusers = 7# ,  but i can't get the field of idusers.

Should  the user guess the filed of idusers by  blind SQL inject?

Thanks for your help.

[2021-10-02 17:09] DotSlashTX commented on #564
This doesn't looks like a bug for though, why there is a Bug label to the question?

[2021-10-28 12:04] ymartin59 opened #587 "[BUG] Docker compose: mysql is not accessible"
When running with "docker-compose up" according to instructions, setup page requests for database connection.

In tomcat log, I can observe:
[code]

This probably comes from mysql startup failure according to logs:

[code]

My hypothesis is that initdb sql scripts requires tuning to adapt to recent MySQL docker base image version.
An alternative may be to stuck image to a previous version known to

[2021-10-29 15:18] ymartin59 commented on #586
Here is a possible hint (I have not done this challenge yet): get field names from MySQL catalog table `INFORMATION_SCHEMA.COLUMNS` https://dev.mysql.com/doc/refman/8.0/en/information-schema-columns-table.html

[2021-11-03 15:11] ismisepaul commented on #587
Hi @ymartin59 could you please use the Bug template so that we can understand what software you're running so that this can be debugged.

I've just verified that the instructions in README.md for `docker-compose up` are working without any issue.

The version of MySQL is set here https://github.com/OWASP/SecurityShepherd/blob/8c55d29bfa68ef6680e128ec35ce4638e8e6c271/.env#L4
so there "should" be no

[2021-11-07 11:02] ymartin59 commented on #587
I agree my diagnostic/hypothesis was incorrect - even if MySQL errors messages at startup sounds unexpected.

Remain the fact that docker compose sequence does not work as expected (if I understood well): MySQL instance rejects connection and so I get the database setup page.

[2021-11-08 11:29] ismisepaul commented on #587
I am not seeing what you are seeing, for me `docker-compose up` is working as expected.

Could you help us understand your setup by using the bug report template. I've added the questions that you'll need to answer to this comment below. But in the future if you find a bug it would be really helpful to use this template instead of "Open a blank issue" so we can get to the root of the problem quick

[2021-11-12 23:05] ymartin59 commented on #587
@ismisepaul I have rebuilt and run on another system: also Debian Testing, Docker 20.10 and docker-compose 1.27 and everything has worked as expected, I was able to login right after.

I have no idea what gets wrong on my first system (which is almost identical in fact) - I have discarded docker images, rebuild three times and always got `Host '172.19.0.4' is not allowed to connect to this MySQL s

[2021-11-12 23:05] #587 closed, assigned to ismisepaul

[2021-11-23 09:56] ismisepaul commented on #587
@ymartin59 thanks for looking into that and reporting back. I'm glad it is working for you 👍

[2021-12-15 12:15] ismisepaul opened #588 "Update to log4j 2.17"
Version 1.2.7 under certain conditions is vulnerable to the following

- CVE-2019-17571
- CVE-2021-4104 (related to CVE-2021-44228)

It is also EoL "On August 5, 2015 the Logging Services Project Management Committee announced that Log4j 1.x had reached end of life." https://logging.apache.org/log4j/1.2/

Migration steps here: https://logging.apache.org/log4j/2.x/manual/migration.html

[2021-12-15 12:35] markdenihan commented on #588
Should be a quick and easy change for Shepherd

On Wed, Dec 15, 2021 at 12:15 PM Pól ***@***.***> wrote:

--
Regards,

Mark Denihan

[2021-12-15 21:26] ismisepaul commented on #588
I've been working off the dev branch and first run was unsuccessful, essentially not seeing any stdout only stderr. It's very different from log4j 1.x (a bit like python2 and python3 ;) )

For a quick mitigation now people can remove the offending classes from the log4j jar like this

[code]
Maybe apply this to master too if we're not going to push from dev straight away / trying to get dev workin

[2021-12-15 21:57] markdenihan commented on #588
Wait, sure we're not evoking the jms appender anywhere that I'm aware of.
I'll double check in the morning but I'd suspect were not vulnerable

We're also not using any sockets with log4j

Let's update to 2.16 anyway

On Wed 15 Dec 2021, 9:26 p.m. Pól, ***@***.***> wrote:

[2021-12-15 22:01] markdenihan commented on #588
I just checked. We're not vulnerable

But let's keep the ticket

On Wed 15 Dec 2021, 9:57 p.m. Mark Denihan, ***@***.***> wrote:

[2021-12-21 10:12] #588 closed, assigned to ismisepaul

[2021-12-21 17:03] ismisepaul commented on #574
The problem here is that Shepherd changed from a [properties file ](https://github.com/OWASP/SecurityShepherd/blob/d5c716629a9ff66b9dce2360e7b11a0c34bc9674/src/test/resources/conf/database.properties#L1)for running tests to [hardcoding](https://github.com/OWASP/SecurityShepherd/blob/28740a51419a0ef9ef7b38a52b2f54212f69a0e2/src/test/java/testUtils/TestProperties.java#L404)

So when it runs in gitla

[2021-12-23 23:46] ismisepaul opened #592 "Don't remove points when users do bad submissions"
As of now, Shepherd removes points when users do bad submissions.

We've had issues where students use ZAP and inadvertently use an attack tool such as a directory traversal scanner. This sends several hundred requests to the result key submitter and then removes all their points.

The core issue is that the countermeasures are ineffective. Just removing points and writing a warning in the returne

[2021-12-24 00:06] ismisepaul commented on #592
closing as this is actually a duplicate of #532 an open issue

[2021-12-24 00:06] #592 closed, assigned to nobody

[2022-02-02 16:52] tvergilio commented on #536
I am using the latest Security Shepherd release (3.1) and have also experienced database crashes due to a very large number of open connections.

The connections stayed open and "hung", until the database eventually crashed. A Tomcat restart killed the processes and solved the issue temporarily.

![image](https://user-images.githubusercontent.com/6339599/152197680-a21c242d-ccb8-4673-a1b8-c4f146a4f

[2022-02-03 09:23] etnoy commented on #536
Just a quick comment: Security shepherd seems to be abandoned and no real work is done on it anymore.

The main reason I believe is that the codebase is so smelly that it's really hard to fix bugs without something else breaking.

I am working on a replacement and would love to talk to others (like yourself) who use it for teaching and over extended periods of time. Do drop me an email if you want

[2022-03-11 15:45] rudosch opened #595 "Docker build passes, but exeption during Tomcat startup: Invalid keystore format"
Docker build passes, but there's an "**Invalid keystore format**" exception when starting Tomcat with `docker-compose up`

[code]

System info:
- Ubuntu 20.04
- OpenJDK 11.0.14
- Docker 20.10.7
- Docker-compose 1.25.0
- Maven 3.6.3

[2022-03-13 18:48] rudosch commented on #595
It seems that Java 8 must be installed, otherwise the keytool will generate a keystore file that Tomcat v8.5 will not be able to read.

See [https://bugs.openjdk.java.net/browse/JDK-8228481](https://bugs.openjdk.java.net/browse/JDK-8228481) and
[https://stackoverflow.com/questions/67766268/ioexception-in-java-8-when-reading-pkcs12-keystore-created-with-keytool-from-ope](https://stackoverflow.com/q

[2022-03-14 16:57] ismisepaul opened #596 "Support for ARM"
The current docker set up doesn't support ARM both the MySQL images and the Tomcat image cannot be installed on an ARM based machine.

[2022-03-14 18:40] ismisepaul commented on #595
Thanks @rudosch,

Could you take a look at the pull request #598 and let me know if this will suffice to address this?

[2022-03-14 19:35] rudosch commented on #595
This is the most minimal solution, but at least it's clear now.
Of course, it would be better to upgrade to at least JDK11 and Tomcat 8.5.76, but this would need a closer look and more time, I know.

BTW: are there any plans at all to work on new versions?

[2022-03-15 09:56] #595 closed, assigned to nobody

[2022-03-16 12:31] #574 closed, assigned to markdenihan

[2022-03-16 12:31] #596 closed, assigned to nobody

[2022-03-16 12:31] #572 closed, assigned to markdenihan

[2022-03-16 13:17] ismisepaul opened #611 "Fix CI/CD"
## Release to DockerHub
The Github workflow to push to DockerHub is broken.

- [x] Adjust job so that it pushes to the OWASP's DockerHub #612
- [x] Send API key to Security Shepherd maintainers
- [x] Set the following `DOCKERHUB_TOKEN` and `DOCKERHUB_USERNAME` in Settings -> Secrets -> Actions
- [x] Merge #612

## Pull requests
Pull requests cannot be complete

- [x] remove need for TravisCI to pa

[2022-03-16 14:04] spmishra121 opened #613 "[BUG] mysql port is not changes. It is running on default port despite changing in docker-compose file."
**Describe the bug**
Mysql db port is not changing. It is running on default port despite changing in docker-compose.

**To Reproduce**
Steps to reproduce the behavior:
After following all installation process. Change mysql port like 3312 and restart docker-compose. Validate docker ps and check the port on which it is running.

[2022-03-16 15:01] ismisepaul commented on #613
Hi @spmishra121 make sure you have the latest changes from the `dev` branch.

Then you just need to change the value `DB_PORT` in the [.env](https://github.com/OWASP/SecurityShepherd/blob/72f87674d40e206fcad3b288f092af02a0879d99/.env) file  file to whatever you want e.g. `DB_PORT=3312`

Once you issue `docker-compose up` it'll expose the database on port 3312.

I've just tested and the output of `

[2022-03-17 05:44] spmishra121 commented on #613
Thanks @ismisepaul for your quick response. I am sharing all details about config along with  docker ps...

In this configuration, I had used 9090 for tomcat and 3312 for

**docker-compose file**
version: '2'
services:
  db:
    image: ${IMAGE_MARIADB}
    container_name: ${CONTAINER_MARIADB}
    volumes:
    - data:/var/lib/mysql
    env_file:
      - .env
    build:
      context: docker/mariadb

[2022-03-17 09:40] spmishra121 commented on #613
In docker-compose log, I am getting below error...

secshep_tomcat | 17-Mar-2022 09:36:55.580 SEVERE [main] org.apache.catalina.core.StandardService.initInternal Failed to initialize connector [Connector[HTTP/1.1-8443]]
secshep_tomcat |        org.apache.catalina.LifecycleException: Protocol handler initialization failed
secshep_tomcat |                at org.apache.catalina.connector.Connector.in

[2022-03-17 10:37] ismisepaul commented on #595
@rudosch there's no solid plans, also I'll add that the database needs to be upgraded but these are all big tasks.

I've done the last bit of work there to push a new release so at least there's no more coding left to achieve that.

Once issue #611 is addressed I don't see a reason why there can't be a release.

Thanks again for your contribution

[2022-03-17 10:48] ismisepaul commented on #613
Hi @spmishra121 it looks like your doing things to the docker compose file that are beyond the function and design.

Are you aware of port mapping? https://docs.docker.com/config/containers/container-networking/

Imo you don't want to be changing the internal ports. What you need to do is revert your changes and use the .env file. That the only place you should be changing port numbers as they ref

[2022-03-17 12:49] spmishra121 commented on #595
I am getting same error...

**docker tomcat environment details...**

TERM=xterm
VERSION=3.1
TOMCAT_DOCKER_VERSION=8-jre8-openjdk
DB_VERSION=10.5.8
MONGODB_VERSION=4.1.13
IMAGE_TOMCAT=owasp/security-shepherd
IMAGE_MARIADB=owasp/security-shepherd_mariadb
IMAGE_MONGO=owasp/security-shepherd_mongo
CONTAINER_TOMCAT=secshep_tomcat
CONTAINER_MARIADB=secshep_mariadb
CONTAINER_MONGO=secshep_mongo
DB_USER=

[2022-03-17 13:37] rudosch commented on #595
@spmishra121 Which JDK version are you using on docker host ? It's important to use JDKv8 to run the correct keytool version during maven build.

[2022-03-17 13:56] spmishra121 commented on #613
I am getting following response...
[root@ip-10-25-24-36 satyap]# docker exec -it feb5e5bcf23b java -version
openjdk version "1.8.0_322"
OpenJDK Runtime Environment (build 1.8.0_322-b06)
OpenJDK 64-Bit Server VM (build 25.322-b06, mixed mode)
[root@ip-10-25-24-36 satyap]#

Please let me know, if this is correct.

[2022-03-20 13:46] ismisepaul commented on #613
@spmishra121 its not the java version running in the docker image it's the java version on you host machine.

You need java 8 to build the war on your host machine before its put inside the docker image.

[2022-03-25 11:57] spmishra121 opened #616 "I am running security shephered on 9090 port. But when I am mapping the ip: http://xx.xx.xx.xx:9090 to my DNS. It is not working"
Hi @ismisepaul,

I am running my security shephered over 9090 port. If I am running it using my IP like http://xx.xx.xx.xx:9090 using VPN. It is working. But When I had mapped it with DNS. It is not working..

Running Containers:
![image](https://user-images.githubusercontent.com/6615148/160116550-1fb123f8-97a6-415d-b68b-d04423285db8.png)

[2022-03-29 11:15] spmishra121 commented on #613
working as expected

[2022-03-29 11:15] #613 closed, assigned to nobody

[2022-03-31 09:05] spmishra121 commented on #616
Any feedback?

[2022-04-06 19:20] ismisepaul commented on #616
Hi @spmishra121 this looks like an issue with DNS rather than Shepherd as you can load the app from the IP.

This is probably not the best place to troubleshoot DNS and I suggest reaching out to somewhere there's expertise in that area.

[2022-04-07 05:40] spmishra121 commented on #616
Hi @ismisepaul,

Thanks for your time.

I want to understand following thing.

1. Security shepherd is used its own certificate for its internal communication. So if I am deploying this in my environment which required to use company issued certificate while mapping the IP using DNS. How we can achieve this?

[2022-04-15 13:50] ismisepaul commented on #616
There's two options that I can think of but I'm no expect on this topic - so you'll have to test this yourself

1. Build the project and include your cert - the code responsible for the self signed cert is in the `pom.xml` and `.env`
- https://github.com/OWASP/SecurityShepherd/blob/72f87674d40e206fcad3b288f092af02a0879d99/pom.xml#L311
- https://github.com/OWASP/SecurityShepherd/blob/72f87674d40e20

[2022-04-15 13:56] ismisepaul opened #620 "[BUG] XXE Injection Levels Don't Work"
There are two issues

1. The files that contain the key cannot be created because the directory is incorrect here
https://github.com/OWASP/SecurityShepherd/blob/72f87674d40e206fcad3b288f092af02a0879d99/src/main/java/servlets/module/lesson/XxeLesson.java#L160

The directory should be `/webapps/ROOT/WEB-INF/classes/fileSystemKeys.properties`

2. XXE Challenge 1 generates the wrong solution key on th

[2022-04-15 17:07] ismisepaul opened #622 "[BUG] Cheat for Cross Site Scripting Three Level Not Working"
The cheat `<input type="button" oncliconcliconcliconcliconclickkkkk="alert('XSS')"/>` does not work

Log output
[code]

[2022-04-15 18:17] ismisepaul opened #624 "[BUG] InsecureDirectBank does not display bank balance correctly"
A float is used to store the value of `10000000000` from the database

[code]

When returned to the user the following is presented `1.0E10`

[code]

Instead of a float a long should be used.

[2022-04-15 20:36] ismisepaul opened #626 "[BUG] Cannot Login or Run Tests on M1 Processor"
**Describe the bug**
Cannot build or test on Mac M1 because of Argon2 - more https://github.com/java-native-access/jna/issues/1313

**To Reproduce**
Try run tests or login to the application once its up and running

**Expected behavior**
Able to run tests and login

 - OS: macOS Monterey 12.3.1
 - Browser Chrome 100

**Further Information:**
Error message

[code]

[2022-04-15 20:38] ismisepaul commented on #626
Pull request #609 solves the problem

[2022-04-15 21:21] ismisepaul commented on #624
Also fixing this weird display seen when running docker
![key-not-displaying-properly-directobjectbank](https://user-images.githubusercontent.com/912403/163633856-1ce7e57f-971d-4435-89c0-3961cbe8b08f.png)

[2022-05-16 11:08] ismisepaul commented on #626
fixed in #638

[2022-05-16 11:08] #626 closed, assigned to nobody

[2022-05-16 11:08] ismisepaul commented on #624
fixed in #638

[2022-05-16 11:08] #624 closed, assigned to nobody

[2022-05-16 11:08] ismisepaul commented on #622
fixed in #638

[2022-05-16 11:08] #622 closed, assigned to nobody

[2022-05-16 11:08] ismisepaul commented on #620
fixed in #638

[2022-05-16 11:08] #620 closed, assigned to nobody

[2022-05-16 11:09] ismisepaul commented on #552
checked in #638

[2022-05-16 11:09] #552 closed, assigned to ismisepaul

[2022-05-16 11:09] ismisepaul commented on #557
verified in #638

[2022-05-16 11:09] #557 closed, assigned to ismisepaul

[2022-05-16 12:12] markdenihan commented on #611
@ismisepaul Do you have permissions to add the secrets or would. you like me to?

[2022-05-16 12:35] ismisepaul commented on #611
yeah I think it makes sense to add me for setting up publishing to dockerhub

[2022-05-16 12:41] markdenihan commented on #611
@ismisepaul I've added you directly to the repo as an admin.

[2022-05-16 13:01] ismisepaul commented on #611
Changes made

[2022-05-16 13:01] #611 closed, assigned to SeanDuggan, markdenihan

[2022-05-17 19:37] johnjbutler opened #645 "[BUG] Build fails with connection errors during maven tests"
**Describe the bug**
When building the OWASP Security Shepherd Project (Reskinned) by following the Wiki Instructions, I encounter an error with the surefire-plugin:

**To Reproduce**
Steps to reproduce the behavior:
1. Fork OWASP Security Shepherd from GitHub
2. Clone your own repo
3. Open it, modify the CSS as you wish
4. run 'mvn clean install' to install the pom.xml file
5. See the error (abov

[2022-05-17 20:01] ismisepaul commented on #645
Hi @johnjbutler it looks like the problem is the version of Java installed. The project needs Java 8 see https://github.com/OWASP/SecurityShepherd/issues/595#issuecomment-1066160438 or else it'll fail.

[2022-05-17 20:05] johnjbutler commented on #645
@ismisepaul Boom! Easy enough to fix then. Do you know which distribution (Zulu, Temurin, Semuru, ...)

For ease, I am using a tool called SDKMAN:
https://sdkman.io/

And these are the java versions available:

[2022-05-17 20:07] ismisepaul commented on #645
Here's what I'm using (zulu) but it shouldn't matter
[code]
Also be aware there is a problem updating surefire see https://github.com/OWASP/SecurityShepherd/pull/644

[2022-05-17 20:09] johnjbutler commented on #645
Got it! So @ismisepaul , just to confirm (may also be helpful any other viewers) the solution here is as follows:

1. Use Java 8
2. Keep the surefire-plugin set (as is) in the pom.xml file and don't touch it!

For any onlookers, I will verify all of this - and I will update to confirm my successes here. :)

[2022-05-17 20:48] johnjbutler commented on #645
@ismisepaul

Thanks for your help, much appreciated! Sadly,  that didn't work for me. So, this may not be a "**_silver-bullet solution_**". Unless I am missing something? But we can keep looking! :)

**I tested with your same java version:**

![Screen Shot 2022-05-17 at 4 41 57 PM](https://user-images.githubusercontent.com/29711484/168906957-883df306-c56e-4f4b-b7ef-6c2752724b0f.png)

**And I end u

[2022-05-17 21:13] ismisepaul commented on #645
### TL;DR

1. Install a database locally or run the docker database
2. change the variables in the `.env` file to connect to the database you set up in step 1
3. run `mvn`

### Long version
Looking at your screenshot it looks like a communication exception when trying to connect to the db.

You need to have a database running for the tests to run. You can either install
- `mariadb 10.5.8` or `mysq

[2022-05-18 09:17] ismisepaul commented on #645
Also if you just want to build the war without running tests use `mvn clean install -DskipTests` that way you don't need a local db to build.

[2022-05-20 17:24] ismisepaul opened #647 "Replace local JavaScript Libraries with Webjars"
Within Maven it's possible to pull down client side libraries which are packaged into JAR archive files called Webjars https://www.webjars.org/

Instead of having local 3rd party dependencies [locally](https://github.com/OWASP/SecurityShepherd/tree/dev/src/main/webapp/js) such as jQuery it would be easier to manage within the pom.xml

[2022-05-23 18:06] ismisepaul opened #649 "Ability to set bind address and docker mapping for MongoDb"
As a developer
I would like the ability to set the bind address and map  host server ip and ports
because when running docker images on VM it's impossible to access the image from a development environment

[2022-05-24 09:39] ismisepaul opened #651 "[BUG] Connection Issues with NoSQL Level when using docker"
**Describe the bug**
When using the docker image for MongoDB connection errors are seen. The platform report 500 server error

**To Reproduce**
Steps to reproduce the behavior:
1. Start the environment with docker-compose
2. Login and try access the NoSQL level
3. Observe a 500 error

**Expected behavior**
The NoSQL level loads

**Further Information:**
 - `docker` version: Docker version 20.10.12

[2022-05-24 09:42] ismisepaul commented on #651
This is fixed in pull request #650

[2022-05-24 09:43] #651 closed, assigned to nobody

[2022-05-24 09:43] #649 closed, assigned to nobody

[2022-05-24 11:55] ismisepaul opened #652 "[BUG] XXE Challenge 1 Doesn't Reveal Result Key"
**Describe the bug**
XXE Challenge 1 Doesn't Reveal Result Key

**To Reproduce**
Steps to reproduce the behavior:
1. Got to XXE Challenge 1
2. Complete the Level
3. The Key is not returned

**Expected behavior**
Key is returned

**Additional context**
This is my bad - by trying to protect the key from being leaked in the first XXE level I put in a measure to remove it from the response. But I forg

[2022-05-25 16:08] ismisepaul opened #653 "[Epic] UX Improvements for Admins"
- [ ] #671
- [ ] #672
- [ ] #673
- [ ] #674
- [ ] #675
- [ ] #676
- [ ] #677
- [ ] #678
- [ ] #679
- [ ] #680
- [ ] #681
- [ ] #682
- [ ] #683

[2022-05-26 17:12] ismisepaul opened #654 "[BUG] XXE levels don't create solution file when opened"
**Describe the bug**
When you open the XXE levels from Admin -> Module Management -> Open and Close Modules the level solution file is not created.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with admin
2. Admin -> Module Management -> Open and Close Modules
3. Open an XXE level
4. Check file system - the solution file with the key is not created

This also is observed in by Categ

[2022-05-26 19:23] ismisepaul commented on #652
fixed in #655

[2022-05-26 19:23] #652 closed, assigned to nobody

[2022-05-31 17:41] ismisepaul commented on #654
As a work around (when you only have access to the app and not the filesystem) when you have a set number of levels open and you want to create the file

- Go Admin -> Module Management -> Open and Close Modules
- Select all the "To Close", copy them and store them somewhere (if something goes wrong and you need a record of what you had open)
- Unselect the "To Close"
- Select all "To Open" (these

[2022-07-15 14:55] jmarquez90 commented on #653
Hi - I'm looking into these issues right now. Would it be easier to coordinate if these were broken into separate tickets?

[2022-07-15 15:12] markdenihan commented on #653
That makes sense!

[2022-07-21 13:30] jmarquez90 opened #671 "[Enhancement] Add column numbers for Admin -> Module Management -> View Progress"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:31] jmarquez90 opened #672 "[Enhacement] Add total number of users on platform and total number of users who've completed at least one module"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:32] jmarquez90 opened #673 "[Enhancement] Add countdown timer to platform"
Background: When launching a CTF it'd be nice to let people know when it'll be open.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:33] jmarquez90 opened #674 "[Enhancement] Add timer to open pre-selected levels on the platform"
Background: When launching a CTF it'd be nice to select what levels I want to open and then have those levels open at a set date and time.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:34] jmarquez90 opened #675 "[Enhancement] Add points breakdown when you have the platform in Tournament Mode"
Background: It's nice to tell people how much points are going for each of the ranks.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:35] jmarquez90 opened #676 "[Enhancement] Add ability to show CTF rules on the login page"
Background: When running a CTF its nice to show the rules on the login page.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:36] jmarquez90 opened #677 "[Enhancement] Add ability to see a user's email as well as their username from the UI"
Background: Users generally use an obscure username but their real email.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:37] jmarquez90 opened #678 "[Enhancement] Make it more obvious where you go to register an account"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:38] jmarquez90 opened #679 "[Enhancement] Add ability to create an achievement table"
Background: Things like "find an XSS that causes a popup but doesn't pass the level, report a vulnerability in the platform, tell 5 of your classmates/colleagues about the platform and have them sign up, help someone pass a level, help someone understand an HTTP proxy etc." this should be on the landing page when people log in, when you assign points to a usr you can select an achievement and that

[2022-07-21 13:39] jmarquez90 opened #680 "[Enhancement] Turn on and off gold, silver, bronze awards"
Background: This doesn't always makes sense when running an event over a period of time.

Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:40] jmarquez90 opened #681 "[Enhancement] Order level by level name in Admin -> Module Management -> Open / Close Modules (currently ordered by moduleID) - [ ] in fact make this UI better - [ ] drag and drop maybe?"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:40] jmarquez90 opened #682 "[Enhancement] Ability to view only Web App or Mobile Levels when in Admin -> Module Management -> Open / Close Modules"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:40] jmarquez90 opened #683 "[Enhancement] See user email in Admin -> User Management -> Reset Password + Upgrade Player to Admin + Assign Players to Class + Add / Deduct Player Points"
Taken from UX Improvements for Admins #653. @ismisepaul

[2022-07-21 13:43] jmarquez90 commented on #653
@markdenihan So I've gone and created separate tickets for each item and I've tagged @ismisepaul in each one so he can get updates. I imagine we can probably close this ticket then and focus on each one separately? Let me know if you want me to make any changes. I typically try and do open-source work Thursday/Friday mornings (from Chicago).

[2022-07-21 13:43] ismisepaul commented on #653
Hi @jmarquez90 thanks for taking these on, it's awesome!

One tip if you're looking to create anymore, you can simply click beside the issue to convert the checkbox to an issue e.g.
![image](https://user-images.githubusercontent.com/912403/180228513-801b0e4f-4bcc-4fe6-87c2-42897cdf987e.png)

[2022-07-21 13:45] ismisepaul commented on #653
Ignore above, your way works too. Let's close this one and just roll with the separate tickets. (the initial idea was this would be the epic ticket and there would be subtasks that could be tracked)

I've taken a look there and no changes on my part, thanks again! 👍

[2022-07-25 10:25] ismisepaul opened #686 "Update Banner with New Images"
![image](https://user-images.githubusercontent.com/912403/180758417-9ec2d2d1-2d35-4274-a5ac-12f6a76a5eb0.png)

[2022-07-26 08:36] #686 closed, assigned to nobody

[2022-07-28 17:01] jmarquez90 commented on #671
Below is the screenshot of what I have for this. If that's how it should look, I can push my change later today or tomorrow.
![image](https://user-images.githubusercontent.com/23003959/181595509-1faa1704-0261-45b6-8595-3027ace6a469.png)

[2022-07-28 22:05] ismisepaul commented on #671
Looks good 👍

[2022-08-05 13:06] vikiorf opened #694 "[BUG] Error with ajp-connector when starting docker environment"
**Describe the bug**
When trying to start the docker environment, tomcat displays error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instructions in the docker setup here on [github](https://github.com/OWASP/SecurityShepherd/wiki/Docker-Environment-Setup)
2. See error:

**Expected behavior**
Expected the environment to run without errors.

**Desktop (please complete th

[2022-08-23 07:10] xxjonesriderxx opened #696 "Specify own databse container image[BUG]"
Somehow your database is inside this container. Is there any possibility to specify another database connection string, so i can use another mysql databse in another container?

[2022-08-24 08:34] #696 closed, assigned to nobody

[2022-08-24 09:16] ismisepaul commented on #696
Leaving this comment here for others. There are two ways you can do this

1. At build time
2. At runtime

### Build Time
Simply remove or comment out the following line from the Tomcat Dockerfile and build the image

https://github.com/OWASP/SecurityShepherd/blob/c96712026d76a9a3ecf04d914cff080fa79720bb/Dockerfile#L28

### Runtime
There is a `database.properties` file created when the docker image

[2022-08-24 09:28] ismisepaul commented on #694
I don't seem to be able to reproduce and I don't see that setting `secretRequired` set in the `server.xml` (see snippet below showing this is commented out. Have you made modifications?

[code]

[2022-08-24 09:29] ismisepaul commented on #645
Feel free to reopen if this wasn't answered

[2022-08-24 09:29] #645 closed, assigned to nobody

[2022-08-30 11:52] xxjonesriderxx opened #698 "IDOR Example DB Access"
This is a question not a bug.

Is this applicatin accessing the mariadb when using the idor example where we have to receive the admin secrets?

[2022-08-30 11:58] xxjonesriderxx opened #699 "[BUG] Intercept outgoing db requests"
Currently im working on an project to secure webapplications (as yours) agaiinst idor's without touching the server code. Therefor I need to access all SQL Requests between your Application and your database.

Is there any possibility to do something like that? I know your sending JDBC requests (as every normal webapp) but i cant find a way to intercept this whit my application. Any idear?

I Alre

[2022-09-03 14:58] xxjonesriderxx opened #700 "[BUG] invalid LOC header"
I created my own jdbc driver for java version 8 (was 11 but on your image there is only java 8).
I added my jar file to the lib folder and receiving this error.

`org.apache.catalina.startup.ContextConfig.processAnnotationsJar Unable to process Jar entry [org/idordefender/jdbcdriver/Driver.class] from Jar [file:/usr/local/tomcat/lib/idor-defender-jdbc-driver.jar] for annotations
 java.util.zip.Zip

[2022-09-28 06:28] vikiorf commented on #694
I did not do any modifications in the source files. I also saw that commented line but did not touch it which is why I was so confused.
I did a full reinstall of the machine and it now works.
My theory is that I had two different versions of docker installed if that would affect this in any way.

[2022-09-28 06:28] #694 closed, assigned to nobody

[2022-10-22 10:06] rudosch opened #707 "[Enhancement] Timezone, Logs volume, and letsencrypt"
Some enhancement suggestions, either to be implemented or added to documentation (e.g. on docker environment setup page and/or wiki):
- **Timezone** : add e.g. `CATALINA_OPTS="-Duser.timezone=Europe/Zurich"` to the `.env` file to assure correct timezone
- **Logs** : configure additional docker volume `securityshepherd_logs` in `docker-compose.yml` file to have persistent logs across tomcat builds

[2022-10-24 21:00] ismisepaul commented on #707
Thanks @rudosch would you be able to provide examples for letsencrypt?

Also could you create a pull request based on your 3 points?

[2022-10-25 14:39] rudosch commented on #707
I will do a pull request for _timezone_ and _logs,_ these are simple line additions.

But for _letsencrypt_ I think it would be better to document the needed steps in the wiki and not directly integrate those modifications in the `dev` (or `main`) branch. Otherwise, a compromise could be to add `Dockerfile-letsencrypt` and `serverxml-letsencrypt.patch` to the `dev` branch.

To use a letsencrypt ce

[2022-11-03 21:46] ismisepaul commented on #707
Thanks @rudosch this is awesome!

I've gone with your first suggestion and added it to the wiki https://github.com/OWASP/SecurityShepherd/wiki/How-to-Utilise-Let's-Encrypt-with-Docker

I've also located it under [Customizing](https://github.com/OWASP/SecurityShepherd/wiki#customizing)

If you could take a look, if you're happy you can go ahead with closing this issue. If there's adjustments I can

[2022-11-03 21:48] ismisepaul commented on #698
It doesn't you can check the code here.

https://github.com/OWASP/SecurityShepherd/blob/c96712026d76a9a3ecf04d914cff080fa79720bb/src/main/java/servlets/module/lesson/DirectObjectLesson.java#L81

[2022-11-03 21:48] #698 closed, assigned to nobody

[2022-11-03 21:52] ismisepaul commented on #699
Hi @xxjonesriderxx I'm not sure how you can achieve this sorry its beyond the scope of this project.

[2022-11-03 21:52] #699 closed, assigned to nobody

[2022-11-03 21:54] ismisepaul commented on #700
Hi @xxjonesriderxx because you're using your own jdbc driver we can't really help here as you've modified the app beyond its design. Seems like an interesting project but its not something we can help with here, sorry.

[2022-11-03 21:54] #700 closed, assigned to nobody

[2022-11-03 22:10] ismisepaul opened #710 "Add column numbers for Admin -> Module Management -> View Progress"

[2022-11-03 22:11] ismisepaul commented on #710
dup of #671

[2022-11-03 22:11] #710 closed, assigned to nobody

[2022-11-03 22:12] rudosch commented on #707
The solution of listing the procedure in the "Customizing" section seems perfect to me. Thus I will close this issue.
But I don't think I have permission to trigger the merge ...

[2022-11-03 22:12] #707 closed, assigned to rudosch

[2022-11-03 22:18] ismisepaul commented on #616
We've had this contribution https://github.com/OWASP/SecurityShepherd/wiki/How-to-Utilise-Let's-Encrypt-with-Docker maybe it'll help with your question?

[2022-11-03 22:18] #616 closed, assigned to nobody

[2022-11-03 22:26] ismisepaul commented on #503
Doc created here https://github.com/OWASP/SecurityShepherd/wiki/How-to-Utilise-Let's-Encrypt-with-Docker (draft)

[2022-11-03 22:26] #503 closed, assigned to nobody

[2022-11-03 22:27] ismisepaul commented on #508
closed with PR #524

[2022-11-03 22:27] #508 closed, assigned to nobody

[2022-11-03 22:31] ismisepaul commented on #707
Thanks for the contribution @rudosch I've merged in #dev707 just there 👍

[2022-11-04 07:51] rudosch commented on #680
I would find this feature very helpful. Since I use other tools besides SecurityShepherd in training students, I would like to be able to avoid a run on the medals.

[2022-11-04 09:54] rudosch commented on #586
Besides, there is a simpler solution using the rather common column name `username`, no need to guess `idusers`.

[2022-11-06 10:25] rudosch opened #711 "[Enhancement] Cleanup of code and text"
I took some time to look at the code and text and so far can offer the following corrections:

- fix minor spelling and grammar errors
- fix French translation file `/main/resources/i18n/text_fr.properties`
- add missing `response.setContentType` for some servlets
- fix some deprecation warnings, e.g. `new Integer()` -> `Integer.valueOf()`

Some other deprecation warnings are directly related to t

[2022-11-10 23:19] rudosch opened #712 "[BUG] Misleading checkbox "Enable unsafe levels" on page "Get Started""
IMHO, the checkbox "Enable unsafe levels" on the `Get Started` page is misleading, because it is effective for the buttons on this page only.
If you (like I did) first close all modules and then open single categories in `OpenFloor` mode, then e.g. for the category "Injection" also the unsafe XXE modules are opened without being warned. Not knowing how the lessons/challenges are implemented (simul

[2022-11-14 21:40] #711 closed, assigned to nobody

[2022-11-22 12:47] shredstick commented on #475
I am having the exact same Issue. Have you found a solution?

[2022-11-27 16:45] rudosch opened #724 "[Enhancement] Add message to scoreboard if no scoring data available yet"
Avoid null value exception on JS console and add message "No scoreboard data available yet" to scoreboard when ajax call returns null.
PR is following ...

[2022-11-28 11:38] rudosch opened #730 "[Fix] avoid running workflow job "release-security-shepherd" on forks"
The workflow job `release-security-shepherd` should not run on forks, thus `.github/workflows/release.yml` should be modified.

Probably an additional if condition has to be added by changing line 76 in `release.yml`
from
`    if: github.event_name != 'pull_request'`
to
`    if: github.event_name != 'pull_request' && github.repository == 'OWASP/SecurityShepherd'`

[2022-11-28 19:31] rudosch commented on #730
As you would say: LGTM

[2022-11-28 21:30] #730 closed, assigned to nobody

[2022-11-28 21:30] #724 closed, assigned to nobody

[2022-11-28 22:08] rudosch opened #732 "[Fix] get rid of library "json-simple""
Reasons to get rid of library `com.googlecode.json-simple` :
- causes a hidden dependency on the old version 4.10 of the `junit` library, flagged with a vulnerability
- causes some deprecation warnings
- concentration on the use of one single JSON library

These are the changes needed :
- remove dependency from `com.googlecode.json-simple` in `pom.xml`
- add explicit test context dependency to new

[2022-11-30 12:18] ismisepaul commented on #361
#734 closes this issue

[2022-11-30 12:18] #361 closed

[2022-11-30 23:26] #732 closed, assigned to nobody